body {
    margin: 0;
    padding: 0;
    background: #eee;
}

#wrapper {
    margin: 0 auto;
    padding: 0;
    display: block;
    width: 100%;
}

.block {
    border: 1px solid #e2e2e2;
    margin: 3px;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 22px;
}

.header { background: #4CAF50; }
.menu { background: #2196F3; }
.content { background: #FFC107; color: black; }
.sidebar { background: #9C27B0; }
.footer { background: #FF5722; }


@media (max-width: 500px) {
    .block { font-size: 16px; }
}

@media (min-width: 500px) {
    .block { font-size: 17px; }
}

@media (min-width: 750px) {
    .block { font-size: 18px; }
}

@media (min-width: 950px) {
    .block { font-size: 20px; }
}

@media (min-width: 1200px) {
    .block { font-size: 22px; }
}
